# editorconfig.org

root = true

# Настройки стиля кодирования
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
max_line_length = 120
end_of_line = lf

[*.cs]
# C# files specific settings

#CUSTOM

#STYLE COP ANALYZERS
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.sa1309.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1707.severity = none

# Отключаем или меняем уровень серьезности предупреждения SA1310, чтобы не конфликтовало с новыми правилами.
dotnet_diagnostic.SA1310.severity = none

# Определяем символы для публичных констант
dotnet_naming_symbols.public_constants.applicable_kinds = field
dotnet_naming_symbols.public_constants.applicable_accessibilities = public
dotnet_naming_symbols.public_constants.required_modifiers = const

# Задаём стиль именования:
#   - all_upper: все символы в верхнем регистре
#   - word_separator = _: использовать подчеркивание для разделения слов
dotnet_naming_style.public_constants_style.capitalization = all_upper
dotnet_naming_style.public_constants_style.word_separator = _

# Применяем стиль к символам:
dotnet_naming_rule.public_constants_rule.symbols = public_constants
dotnet_naming_rule.public_constants_rule.style = public_constants_style
dotnet_naming_rule.public_constants_rule.severity = suggestion

# Настройка правил именования для приватных статических полей
dotnet_naming_rule.private_static_fields_should_have_underscore.symbols = private_static_fields
dotnet_naming_rule.private_static_fields_should_have_underscore.style = underscore_prefix_style
dotnet_naming_rule.private_static_fields_should_have_underscore.severity = suggestion

dotnet_naming_symbols.private_static_fields.applicable_kinds = field
dotnet_naming_symbols.private_static_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields.required_modifiers = static

dotnet_naming_style.underscore_prefix_style.capitalization = camel_case
dotnet_naming_style.underscore_prefix_style.required_prefix = _

# Определяем символы для приватных констант
dotnet_naming_symbols.private_constants.applicable_kinds = field
dotnet_naming_symbols.private_constants.applicable_accessibilities = private
dotnet_naming_symbols.private_constants.required_modifiers = const

# Задаём стиль именования:
#   - all_upper: все символы в верхнем регистре
#   - word_separator = _: использовать подчеркивание для разделения слов
dotnet_naming_style.private_constants_style.capitalization = all_upper
dotnet_naming_style.private_constants_style.word_separator = _

# Применяем стиль к символам:
dotnet_naming_rule.private_constants_rule.symbols = private_constants
dotnet_naming_rule.private_constants_rule.style = private_constants_style
dotnet_naming_rule.private_constants_rule.severity = suggestion